# Variables de environnement 
DB_HOST=localhost
DB_PORT=5432                                                                                                        
DB_USER=postgres
DB_PASSWORD=pass de la base de datos                                                                                           
DB_NAME=nombre de la base de datos


PORT=3000
SWAGGER_HABILITADO=true
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=8h 