# Variables de environnement 
DB_HOST=localhost
DB_PORT=5432                                                                                                        
DB_USER=postgres
DB_PASSWORD=postgres                                                                                             
DB_NAME=nombre_de_tu_base_de_datos


PORT=3000
SWAGGER_HABILITADO=true
JWT_SECRET=cambia_este_secreto_en_produccion
JWT_EXPIRES_IN=8h 